table {
    width: 95% ;
    margin: 25px ;
    border-top-color: red ;
    border-top-style: solid;
    border-bottom-color: blue ;
    border-bottom-style: double;
    border-right-color: black;
}

th {
    text-align : center; 
    /*padding-top: 64px;
    padding-bottom: 64px;*/
    padding: 64px 0px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    background-color: brown;
    text-transform: capitalize;
    
}
/*thead:first-letter{
    text-transfomr: uppercase;
}*/

td{
    background-color: green;
}

td:nth-child(2n+1){
    border-width: 4px;
    border-style: dashed;
    border-color: blue;
}

td:nth-child(2n){
    border: 4px solid red;
}

tr:nth-child(even){
    text-align: right;
    font-style: italic;
    text-decoration:underline;
    font-weight: bold;
    font-size: 32px;
    word-spacing: 32px;
}

td:nth-child(1){
    text-transform: uppercase;
    text-align: right;
}