#conteneur{
    background-color: #b5bfbb;    
}

fieldset{
    border: 8px solid red;
    background-color: white;
}

legend{
    background-color: grey;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}

.div1{ 
    display:inline-block;
    width: 100px;
}

.div2{ display:inline-block; }

input{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

input[type="submit"]{
    color: white;
    background-color: orange;
    width: 100px;
}
